<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.activiti.dao.BaseVODao">
	<resultMap type="com.zr.activiti.entity.BaseVO" id="requireResult">
		<result property="id" column="id" />
		<result property="processInstanceId" column="process_instance_id" />
		<result property="createId" column="user_id" />
		<result property="businessKey" column="business_key" />
		<result property="reason" column="reason" />
		<result property="createTime" column="apply_time" />
		<result property="processStatus" column="apply_time" />
		
	</resultMap>
	<select id="get" resultMap="requireResult" parameterType="int">
		select * from act_cus_basevo where id=#{id} 
	</select>
	
	<select id="getByUserId" resultMap="requireResult" parameterType="String">
		select * from act_cus_basevo where user_id=#{createId} 
	</select>
	<!-- 
	<select id="getByProjectId" resultMap="requireResult" parameterType="String">
		select * from act_cus_basevo where project_id=#{projectId}
	</select>
	 -->
	<select id="getByBusinessKey" resultMap="requireResult" parameterType="String">
		select * from act_cus_basevo where business_key=#{businessKey}
	</select>
	
	
	
	<select id="deleteByUserId" parameterType="String">
		delete from act_cus_basevo where user_id=#{createId}
	</select>
	
	<select id="deleteByProcessInstanceId" parameterType="String">
		delete from act_cus_basevo where process_instance_id=#{processInstanceId}
	</select>
	
	<select id="deleteByBusinessKey" parameterType="String">
		delete from act_cus_basevo where business_key=#{businessKey}
	</select>
	
	<select id="deleteAll">
		delete from act_cus_basevo
	</select>
	
	
	<insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.zr.activiti.entity.BaseVO">
	  insert into act_cus_basevo (id,user_id,process_instance_id,business_key,reason,apply_time,status)
	  values (#{id},#{createId},#{processInstanceId},#{businessKey},#{reason},#{createTime},#{processStatus})
	</insert>
	<update id="update" parameterType="com.zr.activiti.entity.BaseVO">
		update act_cus_basevo 
		<set >
	      <if test="processInstanceId != null" >
	        process_instance_id =#{processInstanceId},
	      </if>
	      <if test="reason != null" >
	        reason=#{reason},
	      </if>
	      <if test="processStatus != null" >
	        status=#{processStatus},
	      </if>
	    </set>
		where id=#{id}
	</update>
</mapper>