<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!--1 引入属性文件，在配置中占位使用，可以通过${属性名}获得属性文件中的内容 -->
    <context:property-placeholder location="classpath*:jdbc.properties" />

	<!--2 配置一个Spring提供的数据源 :jdbc数据源，创建一个驱动管理数据源的bean -->
	<bean id="jdbcDataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}" />
        <property name="url" value="${jdbc.url}" />
        <property name="username" value="${jdbc.username}" />
        <property name="password" value="${jdbc.password}" />
    </bean>
    
    <!--3 会话工厂bean sqlSessionFactoryBean -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="jdbcDataSource"></property>
        <!-- 别名 -->
        <property name="typeAliasesPackage" value="com.zr.activiti.entity"></property>
		
        <!-- sql映射文件路径 -->
		<!-- 扫描mappers目录以及子目录下的所有xml文件 -->
  		<property name="mapperLocations" value="classpath:mybatis/mappers/**/*.xml" />
    </bean>
    
    <!--4 自动扫描对象关系映射 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定会话工厂，如果当前上下文中只定义了一个则该属性可省去 -->
        <!-- <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property> -->
        <!-- 指定要自动扫描接口的基础包，实现接口 -->
	     <property name="basePackage" value="com.zr.activiti.dao" />
    </bean>
    
    <!--5 声明式事务管理 -->
    <!--定义事物管理器，由spring管理事务 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="jdbcDataSource"></property>
    </bean>
    
    <!--支持注解驱动的事务管理，指定事务管理器 -->
    <tx:annotation-driven transaction-manager="transactionManager"/>

	<!-- 自动扫描包，实现支持注解的IOC在Junit测试Mybatis Service时放开 -->
	<!-- <context:component-scan base-package="com.zr.activiti"></context:component-scan> -->
	
</beans>
